@font-face {
    font-family: 'PT Root UI';
    font-weight: normal;
    src: url('/fonts/PT-Root-UI-Regular.ttf');
}

@font-face {
    font-family: 'PT Root UI';
    font-weight: bold;
    src: url('/fonts/PT-Root-UI-Bold.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.connect-ledger {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.connect-ledger__icon {
     display: flex;
     justify-content: center;
     margin-bottom: 40px;
     width: 100%;
 }

.connect-ledger__title {
    margin-bottom: 16px;
    font-family: 'PT Root UI', serif;
}

.connect-ledger__comment {
    font-family: 'PT Root UI', serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 40px;
 }

.connect-ledger__buttons-next {
    width: 100%;
 }

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    cursor: pointer;

    position: relative;
    overflow: hidden;

    padding: 0.8em 1em;

    font-style: normal;
    font-family: 'PT Root UI', serif;
    font-weight: bold;
    z-index: 2;
}

.blue {
    background-color: #0088cc;
    border: 1px solid #0088cc;
    color: #ffffff;
}

.blue:hover {
     color: #ffffff;
     background-color: #027bb8;
 }

.white {
    background-color: #ffffff;
    border: 1px solid rgba(0, 136, 204, 0.2);
    color: #0088cc;
}

.white:hover {
     color: #027bb8;
     background-color: #ffffff;
 }
